@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Poppins:wght@500;600&family=Roboto&display=swap');

:root {
  --main-bg-color: #bd6418;
  --font1: "Baloo Bhaina 2", cursive;
  --font2: "Roboto", sans-serif;
}

.font1 {
  font-family: var(--font1);
}

.font2 {
  font-family: var(--font2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/img/5.jpg")no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: rgba(163, 155, 155, 0.657);
  /* padding: 60px 30px 60px 30px; */
  border: none;
  /* border-radius: 10px; */
  padding: 0 0 125px 0;

}

.container .title-logo {
  background-color: red;
  padding: 20px;
  width: 282px
}

.container .title-logo .image {
  display: flex;
  justify-content: center;
}

.container .title-logo h1 {
  display: flex;
  justify-content: center;
}

.container .input {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.container .input input{
 position: relative;
 top: 32px;
 font-size: 15px;
 padding: 5px 40px 5px 5px;
 /* border-radius: 8px; */
 /* border: none; */
 /* color: #bd6418; */
 /* background-color: rgb(255, 255, 255); */
}
.login {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.login .btn {
  padding: 10px 102px 10px 102px;
  position: relative;
  top: 83px;
  background: rgb(47, 7, 93);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.login .btn:hover {
  background: rgb(51, 255, 0);
  color: rgb(0, 0, 0);
}